.card{
   background-color: antiquewhite;
   width: 450px;
   height: 700px;
   border-radius: 10px;  
   margin: 0 auto;
   border:4px solid black;
}
.image{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.contexte{
    text-align: center;
}

.my-skill {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  padding: 10px;
}

.skill-badge {
  padding: 4px 8px;
  border-radius: 25px;
  font-weight: 600;
  border: 2px solid black;
  cursor: pointer;
  font-size: 10px;
}